
.colLeftEducation {
    position: relative;
}

.colLeftEducation::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.712);
    transform: translateX(30px);
    margin-top: 1%;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.colRightEducation {
    position: relative;
}

.colRightEducation::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.712);
    z-index: 0;
    /* margin-left: -4.35%; */
    transform: translateX(-26px);
    margin-top: 0.7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.rowEducationLine {
    position: relative;
}


.rowEducationLine::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 5px;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.712);
    margin-left: 50%;
    margin-top: 7px;
    z-index: -3;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}











@media (min-width:1003px) and (max-width:10000003px) {
    .Matric{
        margin-right: 12%;
    }

    .JavaScript{
        margin-right: 12%;
    }

    .EduIconOn {
        /* background-color: red; */
        font-size: 35px;
        margin-right: 17px;
    }

    .EduIconOff {
        /* background-color: yellow; */
        font-size: 35px;
        margin-right: 17px;
    }

    .EdutextOn {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff {
        font-size: 30px;
    }

    .EduMainParent {
        display: flex;
        justify-content: end;
    }

    .EduMainParent1 {
        display: flex;
        justify-content: start;
    }

    .EduIconParent {
        display: flex;
        justify-content: end;
    }

    .EduTextParent {
        display: flex;
        justify-content: end;
    }

    .EduIconParent1 {
        display: flex;
        justify-content: start;
    }

    .EduTextParent1 {
        display: flex;
        justify-content: start;
        margin: 0;
        padding: 0;
    }

    .EduTextParent1 p {
        /* margin-right: -90px; */
    }

    .EdutextOn1 {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff1 {
        font-size: 30px;
    }

.EduH1p{
    font-size: 1.52vw;
    font-weight: bold;
}

.EduH2p{
    font-size: 1.1vw;
}

.EduH3p{
    font-size: 0.94vw;
    color: rgb(109, 109, 109);
}


}



@media (min-width:470px) and (max-width:1003px) {

    .Matric{
        margin-right: 6%;
    }

    .JavaScript{
        margin-right: 12%;
    }
    
    .EduIconOn {
        /* background-color: red; */
        font-size: 35px;
    }

    .EduIconOff {
        /* background-color: yellow; */
        font-size: 35px;
    }

    .EdutextOn {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff {
        font-size: 30px;
    }

    .EduMainParent {
        display: flex;
        justify-content: end;
    }

    .EduMainParent1 {
        display: flex;
        justify-content: start;
    }

    .EduIconParent {
        display: flex;
        justify-content: center;
    }

    .EduTextParent {
        display: flex;
        justify-content: center;
    }

    .EduIconParent1 {
        display: flex;
        justify-content: center;

    }

    .EduTextParent1 {
        display: flex;
        justify-content: center;
    
    }

 

    .EdutextOn1 {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff1 {
        font-size: 30px;
    }


    .EduH1p{
        font-size: 21px;
        font-weight: bold;
    }
    .EduH2p{
        font-size: 19px;
    }
    .EduH3p{
        font-size: 13px;
        color: rgb(109, 109, 109);
    }


}

@media (min-width:470px) and (max-width:786px) {

    .Matric{
        margin-right: 11%;
    }

}


@media (min-width:0px) and (max-width:470px) {

    .Matric{
        margin-right: 12%;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .JavaScript{
        margin-right: 24.5%;
    }
    
    .EduIconOn {
        /* background-color: red; */
        font-size: 35px;
    }

    .EduIconOff {
        /* background-color: yellow; */
        font-size: 35px;
    }

    .EdutextOn {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff {
        font-size: 30px;
    }

    .EduMainParent {
        display: flex;
        justify-content: end;
    }

    .EduMainParent1 {
        display: flex;
        justify-content: start;
    }

    .EduIconParent {
        display: flex;
        justify-content: center;
    }

    .EduTextParent {
        display: flex;
        justify-content: center;
    }

    .EduIconParent1 {
        display: flex;
        justify-content: center;

    }

    .EduTextParent1 {
        display: flex;
        justify-content: center;
    
    }

 

    .EdutextOn1 {
        font-size: 30px;
        font-weight: bold;
    }

    .EdutextOff1 {
        font-size: 30px;
    }


    .EduH1p{
        font-size: 15px;
        font-weight: bold;
    }
    .EduH2p{
        font-size: 13px;
    }
    .EduH3p{
        font-size: 9px;
        color: rgb(109, 109, 109);
    }


}